<div class="h-screen flex items-center justify-center bg-gray-100">
  <form
    class="shadow-lg rounded-lg p-8 bg-white w-full max-w-sm"
    [formGroup]="form"
    (ngSubmit)="login()"
  >
    <!-- Header Section -->
    <div class="mb-6 text-center">
      <h1 class="text-2xl font-bold text-gray-800">Login</h1>
      <h6 class="text-sm text-gray-500">Login to your account</h6>
    </div>

    <!-- Email Input -->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email address</label>
      <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 

    <!-- Password Input -->
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Password</label>
      <input formControlName="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
  </div> 

    <!-- Login Button -->
    <button
      type="submit"
      [disabled]="!form.valid"
      class="w-full py-3 bg-purple-600 text-white text-sm font-semibold rounded-lg shadow-md hover:bg-purple-500 disabled:bg-gray-300 disabled:cursor-not-allowed"
    >
      Login
    </button>

    <!-- Register Link -->
    <div class="mt-6 text-center">
      <span class="text-sm text-gray-600">Don't have an account?</span>
      <a
        class="text-purple-600 font-medium hover:underline"
        [routerLink]="['/register']"
      >
        Register
      </a>
    </div>
  </form>
</div>
